.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  position: absolute;
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px blue);
  z-index: 2;
}

.icon-wrapper:nth-child(1) {
  top: 8px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
}

.icon-wrapper:nth-child(1n) {
  bottom: 8px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
}
.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  transition: opacity 0.5s linear;
  border-radius: 5px;
}

.slide-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  transition: opacity 0.5s linear;
  border-radius: 5px;
  display: none;
}

div.active-img {
  display: block;
}

.side-img {
  width: 100%;
  height: 58.7%;
  object-fit: cover;
  transition: filter 0.5s linear;
  border-radius: 5px;
  filter: grayscale(0.95) blur(0.5px);
  background-size: cover;
}

.side-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: filter 0.5s linear;
  border-radius: 5px;
}

.active-slide {
  filter: none;
}

#slides-wrapper {
  position: relative;
}

.slider-title {
  position: absolute;
  bottom: 90px;
  right: 50px;
  color: white;
  font-size: 19px;
  font-weight: bold;
}

.slider-text {
  position: absolute;
  right: 50px;
  bottom: 25px;
  max-width: 400px;
  color: white;
  font-size: 16px;
  text-align: right;
  line-height: 1.1;
}

.gray-scale {
  filter: grayscale(0.95) blur(0.5px);
}

.filter-box {
  filter: drop-shadow(0px 0px 5px black);
}

.fade-out {
  animation: fade-out 0.3s linear;
}

.fade-in {
  animation: fade-in 0.25s linear;
}

@keyframes fade-out {
  from {
    opacity: 100%;
    filter: blur(0.5);
  }

  30% {
    filter: blur(1.5px);
  }

  to {
    opacity: 50%;
    filter: blur(2.5px);
  }
}

@keyframes fade-in {
  from {
    opacity: 50%;
    filter: blur(4px);
  }

  40% {
    opacity: 60%;
    filter: blur(4px);
  }

  to {
    opacity: 100%;
    filter: blur(0);
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #09a88e;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.8s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
